.liveSearch {
	position:absolute;
}

.liveSearch ul {
	background:#eee;
	-webkit-box-shadow:3px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:3px 3px 3px rgba(0,0,0,0.2);
	box-shadow:3px 3px 3px rgba(0,0,0,0.2);
	border:1px solid #999;
	border-top:none;
  margin:0;
  padding:0;
}

  .liveSearch li {
    margin:0;
    cursor:pointer;
    border:1px solid #ccc;
    padding:5px 12px;
    list-style-type:none;
    z-index:1000;
    background:#eee;
  }

  .liveSearch li:hover ,
  .liveSearch li.ui-selected {
    background: #4173CC;
    color:#FFFFFF;
  }
