ul {
	margin:0;
	padding:0;
	margin-left:20px;
}

#list0 {
  list-style: circle;
  cursor: move;
}

.list2d {
	width:350px;
	list-style-type:none;
	margin:0;
}

  .list2d li {
    float:left;
    padding:5px;
    width:100px;
    height:100px;
    cursor: move;
  }

    .list2d div {
      width:90px;
      height:50px;
      border:solid 1px #000;
      background:#E0E0E0;
      text-align:center;
      padding-top:40px;
    }

#list2 {
	float:left;
}

#list3 {
	float:right;
}

#list4 {
  float: left;
  min-height: 10px;
  border: 1px dotted #ccc;
}

.placeHolder {
  background-color: #cfcfcf;
}

.placeHolder-2d div {
	background-color:#FFF !important;
	border:dashed 1px gray !important;
}

ol.nested,ul.nested {
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

ul.nested, ul.nested ul ,
ol.nested, ol.nested ol {
  margin: 0 0 0 25px;
  padding: 0;
  list-style-type: none;
}

ul.nested ,
ol.nested {
  margin: 4em 0;
}

.nested li {
  margin: 7px 0 0 0;
  padding: 0;
}

.nested li div  {
  border: 1px solid black;
  padding: 3px;
  margin: 0;
  cursor: move;
}
