html,body{
  position:relative;
  width:100%;
  height:100%;
}

.ui-window {
  z-index:9999;
}

.ui-overlay {
 position:absolute; 
 top: 0; 
 left: 0; 
 width:100%; 
 height:100%; 
 z-index:8999;
 background:#000;
 opacity:0.2;
}

.ui-window {
  position:absolute; 
  background:#fefefe;
  border:1px solid #000;     
  box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  padding: 5px;
}
